*{
    margin: 0;
    padding: 0;
}

:root{
    --main-color: #1a643f;
    --link-color: #32788a;
    --font: 'Montserrat'
}

header{
    padding: 10px 0;
    background-color: var(--main-color);
}

h1{
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
    font-family: var(--font);
    color: #fff 
}

table{
    font-family: var(--font);
    margin: 10px auto;
    text-align: center;
}

#legendas th{
    color: #aaa;
    padding: 15px 18px;
}

tr:nth-child(n+1) td{
    padding: 4px 0;
}

a{
    text-decoration: none;
    color: var(--link-color);
}

p{
    font-family: var(--font);
    font-size: 12px;
    text-align: center;
    margin: 20px 0;
}
